  <h1>Recipes</h1>
  <hr/>

  <% @recipes.each do |recipe| %>
    <div class="row">
      
      <div class=col-md-2>
        <section class="chef_info center" >
          <%= gravatar_for recipe.chef size: 100 %>
          <h5> By: <%= recipe.chef.chefname %> </h5>
        </section>
      </div>
      
      <div class="well col-lg-8">
        <h5><%= link_to recipe.name, recipe_path(recipe.id) %></h5>
        <p><%= recipe.summary %></p>
        <p>
          <span class="quiet"><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
        </p>
      </div>
    </div>
  <% end %>