<h1>Listing Recipies</h1>
<%= link_to 'New Recipie', new_recipie_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  
  <% @recipies.each do |recipie| %>
    <tr>
      <td><%= recipie.title %></td>
      <td><%= recipie.text %></td>
      <td><%= link_to 'Show', recipie_path(recipie) %></td>
      <td><%= link_to 'Edit', edit_recipie_path(recipie) %></td>
      <td><%= link_to 'Destroy', recipie_path(recipie), 
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>